@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#imgBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.35;
  z-index: -10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  margin: 0;
}

#root {
  min-height: 100vh;
}

button {
  font-family: 'Poppins', sans-serif;
}

/* Google button styling overrides */
.google-login-container div {
  width: 290px;
  display: flex !important;
  justify-content: center !important;
}
.logo-image{
  width: 20%;
}